* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-image {
    Width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;

}

header {
    margin: 44px 0 144px 76px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}

.button-header {
    background: #665ae1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    color: #FFF;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {

    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
}

.button-main {
    background: #ADFF00;
    border-radius: 20.5px;
    margin-top: 65px;
    Width: 239px;
    Height: 64px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 40px;
}

@media screen and (max-width: 900px) {
    .link-header {
        display: none;
    }

    .logo-image {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        ;
    }

    .button-header {
        display: none;
    }

    h1 {
        font-size: 50px;
        line-height: 61px;
        text-align: center;
    }

    h2 {
        font-size: 30px;
        line-height: 37px;
        text-align: center;
    }

    .button-main {
        margin: 0 auto;
        display: block;
    }
    p {
        display: none;
    }
}